<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <style>body{
        font-family: Rubik;
        background: linear-gradient(to top right, rgb(250,250,250), rgb(232,232,232));
        overflow: hidden;
        height: 100vh;
    }
        </style>
</head>
<body>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; border-radius: 30px;">
        <h1 style="text-align: center; padding: 0 0 20px 0; border-bottom: px solid rgb(44, 44, 44);">Reset your password</h1>
        <p style="text-align: center;">We've emailed you instructions for setting your password.</p>
        <p style="text-align: center;">If you don't receive an email, please make sure you've entered the address you registered with.</p>
    </div>
</body>
</html>