{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>EDT</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <style>body{
        font-family: Rubik;
        background: linear-gradient(to top right, rgb(250,250,250), rgb(232,232,232));
        overflow: hidden;
        height: 100vh;
    }
        </style>
</head>
<body>
    <div class="login_form">
        <h2 style="color: rgb(44,44,44);">Forgot Password</h2>
        <p>Enter the email associated with your account and we will send you a link to reset your password.</p>
        <form action="{% url 'password_reset' %}" method=POST>
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <input type="submit" value="Continue">
        </form>
</body>
</html>