<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <title>Password Reset</title>
    <style>body{
        font-family: Rubik;
        background: linear-gradient(to top right, rgb(250,250,250), rgb(232,232,232));
        overflow: hidden;
        height: 100vh;
    }
        </style>
</head>
<body>
    <table style="width:100%;max-width:600px;margin:auto;font-family: Arial, sans-serif;">
        <tr>
            <td style="text-align: center; padding-top: 20px;">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2FflopEDT%2F%3Flocale%3Dfr_FR&psig=AOvVaw3dn3FdJCnq9gGeljk435SU&ust=1715193017748000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJCm1o2W_IUDFQAAAAAdAAAAABAQ" alt="Your Logo" style="max-width: 150px;">
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px;">
                <h2>Password Reset</h2>
                <p>Hello,</p>
                <p>We received a request to reset your password. Click the button below to reset your password:</p>
                <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Reset Password</a></p>
                <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
                <p>If you did not request a password reset, please ignore this email.</p>
            </td>
        </tr>
    </table>
</body>
</html>
