{% extends 'base.html'%}
{% csrf_token %}

{%block nav_items%}
    <li><a href="{%url 'generer'%}" class="red" >Générer</a></li>
    <li><a href="{%url 'ajouter'%}" class="green">Ajouter/Supprimer</a></li>
{%endblock%}

{%block content%}


<style>

select{
        
        width: 170px;
        height: 30px;
    }



/* General styling for the form container */
.ajouter_chef {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.optionAS {
    width: 40%;
    margin: 25px;
    height: auto;
    padding: 20px;
    border: 1px solid rgb(99, 97, 97);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionAS label,
.optionAS input[type="text"],
.optionAS input[type="submit"] {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.s {
    color: rgb(254, 69, 69);
    text-align: center;
}

.a {
    color: rgb(98, 203, 82);
    text-align: center;
}

.optionAS input[type="text"],
.optionAS input[type="submit"] {
    width: 75%;
    margin-bottom: 10px;
    height: 45px;
}

.optionAS input[type="radio"] {
    display: inline;
    margin: 6px;
}

.optionAS input[type="submit"] {
    margin-top: 25px;
}

.optionAS select {
    width: 100%;
    height: 30px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    border-bottom-width: 2px;
}

.optionAS input[type="text"] {
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    border-bottom-width: 2px;
}

.niveau {
    display: flex;
    justify-content: space-between;
}


.submit_c {
    text-align: center;
}

.error {
    color: rgb(254, 69, 69);
}

.success {
    color: rgb(98, 203, 82);
}
.ajouter_chef{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


</style>
<div class="ajouter_chef">
    <!-- Ajouter Professeur -->
    <div class="optionAS">
        <h3 class="a">Ajouter Professeur</h3><br>
        <form action="{% url 'creer_prof' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" required><br>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email"required><br>
            <label for="departement">Département</label>
                <select  name="dep1">
                    <option value="">Selectionner une option</option>
                        <option value="gl">Génie Logiciel</option>

                        <option value="wme">Web and Mobile Engineering</option>

                        <option value="iad">Informatique et Aide à la Décision</option>

                        <option value="ise">Ingénierie des Systèmes Embarqués</option>

                        <option value="rc">Réseaux de communications</option>

                        <option value="lc">Langues et Communication</option>

                </select>

            <div class="submit_c"><input type="submit" value="Créer"></div>
        </form>
        {% if error_message1 is not NONE%}
            <h3 class="error">{{ error_message1 }}</h3>
        {% elif success_message1 is not NONE%}
            <h3 class="success">{{ success_message1 }}</h3>
        {% endif %}
    </div>

    <!-- Ajouter Module -->
    <div class="optionAS">
        <h3 class="a">Ajouter Module</h3><br>
        <form action="{% url 'creer_module' %}" method="post">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" required><br>
            <label for="department">Département :</label>
            <select  name="dep2">
                <option value="">Selectionner une option</option>
                    <option value="gl">Génie Logiciel</option>

                    <option value="wme">Web and Mobile Engineering</option>

                    <option value="iad">Informatique et Aide à la Décision</option>

                    <option value="ise">Ingénierie des Systèmes Embarqués</option>

                    <option value="rc">Réseaux de communications</option>

                    <option value="lc">Langues et Communication</option>

            </select>

            <label for="filiere">Filière :</label>

                <select  name="promo">
                    <option value="">Selectionner une option</option>
                    <option value="gl">Génie Logiciel</option>
                    <option value="bia">Buisness intelligence & analytics</option>
                    <option value="idsit">Ingénieurie data science & iot</option>
                    <option value="ssi">Sécurité des systèmes informatiques</option>

                    <option value="sse">Ingénierie des Systèmes Embarqués</option>

                    <option value="2scl">Smart suply chaine & logistics</option>

                    <option value="idf">Ingénierie de la data et finance digitale</option>
                </select>


            <div class="niveau">
                <label for="annee">Niveau :</label>
                <div><input type="radio" name="annee" value="1A"><label for="annee">1A</label></div>
                <div><input type="radio" name="annee" value="2A"><label for="annee">2A</label></div>
                <div><input type="radio" name="annee" value="3A"><label for="annee">3A</label></div>
            </div>
            <div class="submit_c"><input type="submit" value="Créer"></div>
        </form>
        {% if error_message2 %}
            <h3 class="error">{{ error_message2 }}</h3>
        {% elif success_message2 %}
            <h3 class="success">{{ success_message2 }}</h3>
        {% endif %}
    </div>

    <!-- Supprimer Professeur -->
    <div class="optionAS">
        <h3 class="s">Supprimer Professeur</h3><br>
        <form action="{% url 'supprimer_prof' %}" method="post">
            {% csrf_token %}
            <label for="username">Email :</label>
            <input type="text" name="username" placeholder="Email"><br>
            <div class="submit_c"><input type="submit" value="Supprimer"></div>
        </form>
        {% if error_message3 %}
            <h3 class="error">{{ error_message3 }}</h3>
        {% elif success_message3 %}
            <h3 class="success">{{ success_message3 }}</h3>
        {% endif %}
    </div>

    <!-- Supprimer Module -->
    <div class="optionAS">
        <h3 class="s">Supprimer Module</h3><br>
        <form action="{% url 'supprimer_module' %}" method="post">
            {% csrf_token %}
            <label for="name">Nom du Module :</label>
            <input type="text" name="name" placeholder="Name"><br>
            <div class="submit_c"><input type="submit" value="Supprimer"></div>
        </form>
        {% if error_message4 %}
            <h3 class="error">{{ error_message4 }}</h3>
        {% elif success_message4 %}
            <h3 class="success">{{ success_message4 }}</h3>
        {% endif %}
    </div>
</div>
 




{% endblock %}

