{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <style>body{
        font-family: Rubik;
        background: linear-gradient(to top right, rgb(250,250,250), rgb(232,232,232));
        overflow: hidden;
        height: 150vh;

    }
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="" class="logo"><img src="{% static 'logo_base.png'%}" style="width: 300px;"></a>
            <ul style="list-style-type: none;">
                <li><a href="/" class="red">Home</a></li>
                <li><a href="https://www.flopedt.org/" class="green">About</a></li>
                <li><a href="contact" class="red">Contact Us</a></li>   
            </ul>  
        </nav>
    </header>
    <div class="login_form">
        <h2 style="color: rgb(44,44,44);">Changer mot de passe</h2>
        <form method=POST>
            {% csrf_token %}
            <h4>Entrer l'adresse email associée à votre compte et on vous envoyera un email pour changer votre mot de passe.</h4>
            <div class="txt_field">
                <input type="text" name="email" required>
                <span></span>
                <label>Email</label>
            </div>            
            <a href="{% url 'login' %}" style="text-decoration: none;"><div class="pass">Sign in</div></a>
            <a href=""><input type="submit" value="Change"></a>
        </form>
    </div>
</body>
</html>